extends layout

block content
  .wrapper
    header#me
      h1 I'm Roy Choo
      h2 Web developer
    section#about
      h1 About me
      p I love the web. Web make many things possible for me and for the world. We should be developing for the future of what web is going to be and not for the current of what web is. Information below is purely fake and not appropriate for serious consumption.
    section#designed
      h1 Thing's I've designed
      ul.gallery
        li 
          img(src="http://placebox.es/200x140/?t=1")
        li
          img(src="http://placebox.es/200x140/?t=2")
        li
          img(src="http://placebox.es/200x140/?t=3")
        li
          img(src="http://placebox.es/200x140/?t=4")
    section#developed
      h1 Thing's i developed
      ul.gallery
        li 
          img(src="http://placebox.es/200x140/?t=5")
        li
          img(src="http://placebox.es/200x140/?t=6")
        li
          img(src="http://placebox.es/200x140/?t=7")
        li
          img(src="http://placebox.es/200x140/?t=8")
    section#contact
        h1 Contact
        p If you want to get in touch, shoot me an email at 
          a(href="mailto:roychoo@hotmail.com") roychoo@hotmail.com
          . I'm also on 
          a(href="https://plus.google.com/100171751345879943005") Google+ 
          and and 
          a(href="https://www.facebook.com/roychoosl") facebook
          . Just in case, you want to say hi.